{% extends 'base.html' %}

{% block title %} Lista Notas - lista {% endblock %}

{% block main %}

<br>

<table class=" table table-hover table-bordered table-striped table-dark">
                    <tr>
                        <th>Disciplina</th>
                        <th>Nome</th>
                        <th>Nota1</th>
                        <th>Nota2</th>







                    </tr>
                    <tbody>
                    {% for nota in notas %}
                        <tr>
                            <td>{{ nota.disciplina }}</td>
                            <td> {{ nota.aluno }}</td>
                            <td> {{ nota.nota1 }}</td>
                            <td> {{ nota.nota2 }}</td>









                        </tr>


                     {% endfor %}
                    </tbody>


                </table>


<a class="btn btn-success" href="{% url 'aluno' %}">Retornar</a>



{% endblock %}