{% extends 'base.html' %}

{% block title %} Cadastrar login - user {% endblock %}

{% block main %}

    <div class="container">
        <h3>Cadastro de Usuários</h3>

        <form method="post" class="form-group">
            {% csrf_token %}


            <label>Usuário</label>
            {{ form.nome }}
            <label>Senha</label>
            {{ form.password }}

            <div class="card">
                <h3>Sua senha deve conter:</h3>
                <li>Letras maiúsculas</li>
               <li>Letras minúsculas</li>
                <li>Numeros</li>
                <li>Caracteres especiais</li>
                <li>Ter 8 ou mais digitos</li>

            </div>
            <br>


            <button class="btn btn-primary">Cadastrar</button>
        </form>


         <h3>{{ mensagem }}</h3>

        <p><a href="{% url 'index' %}" class="btn btn-success">Volta para pagina inicial</a></p>

    </div>



{% endblock %}