{% extends 'base.html' %}

{% block title %} Sistema Logins Atualizar {% endblock %}

{% block main %}

    <div class="container">
        <h3>Atualizar Logins</h3>

        <form method="post" class="form-group">
            {% csrf_token %}


            <label>Usuário</label>
            {{ form.nome }}
            <label>Senha</label>
            {{ form.password }}
            <label>salto</label>
            {{ form.salto }}

            <label>Status</label>
            {{ form.status }}




            <button class="btn btn-primary">Atualizar</button>
        </form>


    <p><a href="{% url 'lista_login' %}" class="btn btn-primary">Voltar a lista</a></p>

    <p><a href="{% url 'index' %}" class="btn btn-primary">Volta para pagina inicial</a></p>

    </div>



{% endblock %}