{% extends 'base.html' %}

{% block title %} Sistema Livraria Videira {% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6">



                    <p><a href="{% url 'cadastra_login' %}" class="btn btn-primary">Cadastrar novo Login</a></p>

            </div>
            <div class="col-sm-6">


                    <p><a href="{% url 'lista_login' %}" class="btn btn-primary">Listar login</a></p>

            </div>
        </div>
    </div>



    </div>



{% endblock %}