{% extends 'base.html' %}

{% block title %} Sistema de login {% endblock %}

{% block main %}

    <div class="container">
            <br>
            <br>


        <h3>Digite seu usuário e senha para acessar sistema</h3>

            <br>
            <br>



        <form method="post" class="form-group">
            {% csrf_token %}

            <label>Usuário</label>
            {{ form.nome }}
            <label>Senha</label>
            {{ form.password }}


            <h3>{{ message }}</h3><br>

            <button class="btn btn-primary">Logar Sistema</button>
        </form>
            <br>
            <br>
            <br>
            <br>




        <p><a href="{% url 'index' %}" class="btn btn-success">Volta para pagina inicial</a></p>

    </div>



{% endblock %}