{% extends 'base.html' %}

{% block title %} Sistema Academico ABC {% endblock %}


{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <br>
                <br>
                <br>
                <br>

                <h2>Bem vindo {{ acesso.nome }}</h2>



            </div>
             <div class="col-sm-6">
                    <br>
                    <br>
                    <br>
                    <br>


                    {% if acesso.permissions == 'Coordenador' %}

                        <p><a href="{% url 'cordena' %}" class="btn btn-primary">Acessar área coordenador</a></p>
                    {% elif acesso.permissions == 'Professor' %}
                         <p><a href="{% url 'professor' %}" class="btn btn-primary">Acessar área professor</a></p>
                    {% elif acesso.permissions == 'Aluno' %}
                         <p><a href="{% url 'aluno' %}" class="btn btn-primary">Acessar área aluno</a></p>
                    {% else %}
                        <p>Você não tem permissão para acesso</p>
                    {% endif %}

            </div>
        </div>
    </div>

    <p><a href="{% url 'index' %}" class="btn btn-danger">Sair</a></p>

    </div>



{% endblock %}